p {
    margin: 0px;
  }
  h1 {
    margin: 0px;
  }
  h2 {
    margin: 0px;
  }
  h3 {
    margin: 0px;
  }

  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  body {
    background-color: transparent;
    transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-style: preserve-3d;
  }
  .gwd-img-15d1 {
    position: absolute;
    left: 589px;
    top: 411px;
    width: 206px;
    height: 140px;
    transform-origin: 103.232px 70.1549px 0px;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  .gwd-img-qn89 {
    transform: translate3d(-559px, -48px, 0px) rotateZ(0deg) rotateY(179.63deg) rotateX(0.25deg) scale3d(1, 1, 1);
  }
  .gwd-img-eekv {
    transform: translate3d(-322px, -7px, -1px) rotateY(179.63deg) rotateX(0.25deg);
  }
  .gwd-img-1643 {
    transform: translate3d(-680px, -37px, 0px) rotateZ(53.4561deg);
  }
  .gwd-img-b4x6 {
    position: absolute;
    left: 0px;
    width: 835px;
    height: 531px;
    transform-origin: 417.488px 265.498px 0px;
    top: 78px;
  }
  .gwd-img-d95b {
    position: absolute;
    width: 835px;
    height: 590px;
    left: 5px;
    top: -13px;
  }
  .gwd-img-1rvp {
    position: absolute;
    top: -2px;
    width: 1292px;
    height: 593px;
    transform-origin: 645.566px 296.169px 0px;
    left: -228px;
  }
  .gwd-span-1kl6 {
    position: absolute;
    width: 41.4414px;
    height: 43.2432px;
    left: 609px;
    top: 74px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) rotateZ(-133.855deg) rotateY(0deg) rotateX(0deg);
    transform-origin: 20.7207px 21.6216px 0px;
  }
  .gwd-span-1b34 {
    position: absolute;
    width: 31.7741px;
    height: 39.1745px;
    left: 222px;
    top: 298px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform-origin: 15.8784px 19.5805px 0px;
    transform: translate3d(0px, 0px, 0px) rotateX(145.812deg);
  }
  .gwd-span-1ikc {
    position: absolute;
    width: 42.3423px;
    height: 46.8468px;
    left: 60px;
    top: 239px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(-152.146deg) rotateX(0deg);
    transform-origin: 21.1712px 23.4234px 0px;
  }
  .gwd-span-1nfi {
    position: absolute;
    width: 35.1351px;
    height: 43.2432px;
    left: 405px;
    top: 94px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  .gwd-span-1y0m {
    position: absolute;
    left: 84px;
    top: 98px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    transform-origin: 10.107px 36.036px 0px;
  }
  .gwd-span-1727 {
    position: absolute;
    width: 27.027px;
    height: 25.2252px;
    left: 325px;
    top: 211px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    pointer-events: auto;
    transform: translate3d(0px, 0px, 0px) rotateX(0deg);
  }
  .gwd-span-12mg {
    position: absolute;
    width: 86.4865px;
    height: 45.045px;
    left: 317px;
    top: 370px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) rotateZ(-47.0186deg);
  }
  .gwd-span-xdat {
    position: absolute;
    width: 41.4414px;
    height: 53.1532px;
    left: 589px;
    top: 295px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  .gwd-span-zsq1 {
    position: absolute;
    width: 47.7477px;
    height: 39.6396px;
    left: 545px;
    top: 128px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform: rotateZ(138.862deg);
    transform-style: preserve-3d;
  }
  .gwd-span-14ua {
    position: absolute;
    width: 45.9459px;
    height: 32.4324px;
    left: 158px;
    top: 183px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-origin: 45.9459px 32.4324px 0px;
    transform: rotateZ(100.202deg);
    transform-style: preserve-3d;
  }
  @keyframes gwd-gen-1kzugwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px) rotateZ(-133.855deg) rotateY(0deg) rotateX(0deg);
      transform-origin: 20.7207px 21.6216px 0px;
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(-321px, 120px, 0px) rotateZ(-133.855deg) rotateY(0deg) rotateX(0deg);
      transform-origin: 20.7207px 21.6216px 0px;
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(-321px, 120px, 0px) rotateZ(46.145deg) rotateY(180deg) rotateX(-2.57954deg);
      transform-origin: 20.7207px 21.6216px 0px;
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(-360px, 158px, 2px) rotateZ(46.145deg) rotateY(180deg) rotateX(-2.57954deg);
      transform-origin: 20.7207px 21.6216px 0px;
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(-412px, 50px, 8px) rotateZ(-25.7277deg) rotateY(2.93059deg) rotateX(-2.71859deg);
      transform-origin: 20.7207px 21.6216px 0px;
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-417px, 55px, 8px) rotateZ(-25.7277deg) rotateY(2.93059deg) rotateX(-2.71859deg);
      transform-origin: 20.7207px 21.6216px 0px;
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1kzugwdanimation {
    animation: gwd-gen-1kzugwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-2fa1gwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px) rotateZ(-47.0186deg) rotateY(0deg);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(77px, -83px, 0px) rotateZ(-47.0186deg) rotateY(0deg);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(77px, -83px, 0px) rotateZ(-47.0186deg) rotateY(0deg);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(34px, -37px, 0px) rotateZ(-47.0186deg) rotateY(0deg);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(7px, -155px, 0px) rotateZ(-12.8708deg) rotateY(0deg);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-41px, -177px, -4px) rotateZ(-12.8708deg) rotateY(-6.02142deg);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-2fa1gwdanimation {
    animation: gwd-gen-2fa1gwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-1wrkgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(-152.146deg) rotateX(0deg);
      transform-origin: 21.1712px 23.4234px 0px;
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(318px, 0px, -168px) rotateZ(0deg) rotateY(-152.146deg) rotateX(0deg);
      transform-origin: 21.1712px 23.4234px 0px;
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(318px, 0px, -168px) rotateZ(0deg) rotateY(-152.146deg) rotateX(0deg);
      transform-origin: 21.1712px 23.4234px 0px;
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(318px, 0px, -168px) rotateZ(0deg) rotateY(-152.146deg) rotateX(0deg);
      transform-origin: 21.1712px 23.4234px 0px;
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(299px, -124px, -179px) rotateZ(-3.59957deg) rotateY(-132.916deg) rotateX(-7.07255deg);
      transform-origin: 21.1712px 23.4234px 0px;
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(354px, -121px, -180px) rotateZ(12.7488deg) rotateY(-178.73deg) rotateX(-0.904937deg);
      transform-origin: 0px 24.8036px 0px;
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1wrkgwdanimation {
    animation: gwd-gen-1wrkgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-nd22gwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px) rotateZ(138.862deg);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px) rotateZ(138.862deg);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px) rotateZ(-14.3624deg);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px) rotateZ(-14.3624deg);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(-98px, 120px, 0px) rotateZ(-14.3624deg);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-192px, 69px, 0px) rotateZ(-14.3624deg);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-nd22gwdanimation {
    animation: gwd-gen-nd22gwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-kwbtgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px) rotateZ(100.202deg);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px) rotateZ(100.202deg);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px) rotateZ(-1.88236deg);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(243px, 158px, 0px) rotateZ(-1.88236deg);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(308px, 21px, 0px) rotateZ(-1.88236deg);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(225px, 15px, 0px) rotateZ(-1.88236deg);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-kwbtgwdanimation {
    animation: gwd-gen-kwbtgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-1g1rgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
      transform-origin: 10.107px 36.036px 0px;
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
      transform-origin: 10.107px 36.036px 0px;
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
      transform-origin: 10.107px 36.036px 0px;
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(293px, 109px, 0px) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
      transform-origin: 10.107px 36.036px 0px;
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(532px, -66px, 6px) rotateZ(-7.53283deg) rotateY(-0.393636deg) rotateX(-2.97409deg);
      transform-origin: 268.05px 84.2191px -440.457px;
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(410px, -36px, 4px) rotateZ(-7.53283deg) rotateY(-0.393636deg) rotateX(-2.97409deg);
      transform-origin: 268.05px 84.2191px -440.457px;
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1g1rgwdanimation {
    animation: gwd-gen-1g1rgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-sn7hgwdanimation_gwd-keyframes {
    0% {
      transform-origin: 15.8784px 19.5805px 0px;
      transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(0deg) rotateX(145.812deg);
      animation-timing-function: linear;
    }
    20% {
      transform-origin: 15.8784px 19.5805px 0px;
      transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(0deg) rotateX(145.812deg);
      animation-timing-function: linear;
    }
    40% {
      transform-origin: 15.8784px 19.5805px 0px;
      transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(0deg) rotateX(145.812deg);
      animation-timing-function: linear;
    }
    60% {
      transform-origin: 15.8784px 19.5805px 0px;
      transform: translate3d(0px, 0px, 0px) rotateZ(0deg) rotateY(0deg) rotateX(145.812deg);
      animation-timing-function: linear;
    }
    80% {
      transform-origin: 336.794px 161.233px -37.5898px;
      transform: translate3d(-427px, -25px, 11px) rotateZ(98.4443deg) rotateY(10.2596deg) rotateX(-10.1989deg);
      animation-timing-function: linear;
    }
    100% {
      transform-origin: 110.44px 132.632px -82.2929px;
      transform: translate3d(45px, -254px, 89px) rotateZ(48.5698deg) rotateY(-0.0993749deg) rotateX(178.147deg);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-sn7hgwdanimation {
    animation: gwd-gen-sn7hgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-1vpjgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale3d(1, 1, 1);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale3d(1, 1, 1);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale3d(1, 1, 1);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale3d(1, 1, 1);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, -5px) rotateX(-11.942deg) scale3d(1, 1, 1);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(0px, 0px, -1.81325px) rotateX(-11.942deg) scale3d(1.44591, 2.46149, 1);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1vpjgwdanimation {
    animation: gwd-gen-1vpjgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-1whfgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 27px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-85px, 30px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1whfgwdanimation {
    animation: gwd-gen-1whfgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-1kuigwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(-210px, -40px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-273px, -96px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1kuigwdanimation {
    animation: gwd-gen-1kuigwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-ut75gwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(-680px, -37px, 0px) rotateZ(53.4561deg);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(-666.367px, -49px, 0px) rotateZ(51.6931deg);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(-655.949px, -62px, 0px) rotateZ(51.6931deg);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(-535.532px, -254px, 0px) rotateZ(51.6931deg);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(-518px, -278px, 0px) rotateZ(51.6931deg);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-501px, -289px, 0px) rotateZ(51.6931deg);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-ut75gwdanimation {
    animation: gwd-gen-ut75gwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-wz9ugwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(-342px, -9px, 0px);
      transform-origin: 103.232px 70.1549px 0px;
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(-373px, -105px, 0px);
      transform-origin: 103.232px 70.1549px 0px;
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(-509px, -264px, 0px);
      transform-origin: 103.232px 70.1549px 0px;
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(-525px, -272px, 0px);
      transform-origin: 103.232px 70.1549px 0px;
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(-540px, -282px, 0px);
      transform-origin: 103.232px 70.1549px 0px;
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-560px, -289px, 0px);
      transform-origin: 116px 68px 0px;
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-wz9ugwdanimation {
    animation: gwd-gen-wz9ugwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-1g6dgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(-322px, -7px, -1px) rotateY(179.63deg) rotateX(0.25deg);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(-313px, -27px, -1px) rotateY(179.63deg) rotateX(0.25deg);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(-215px, -188px, 1px) rotateY(179.63deg) rotateX(0.25deg);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(-191px, -210px, 1px) rotateY(179.63deg) rotateX(0.25deg);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(-178px, -219px, 1px) rotateY(179.63deg) rotateX(0.25deg);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-158px, -230px, 2px) rotateY(179.63deg) rotateX(0.25deg);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1g6dgwdanimation {
    animation: gwd-gen-1g6dgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-1bomgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(-35px, -84px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(-114px, -235px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(-123px, -248px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(-132px, -256px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-141px, -264px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1bomgwdanimation {
    animation: gwd-gen-1bomgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  .gwd-img-8aft {
    transform: translate3d(-342px, -9px, 0px);
  }
  .gwd-span-1wkq {
    position: absolute;
    width: 43.9776px;
    height: 53.9993px;
    left: 403px;
    top: 264px;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0.569075px) rotateY(-1.48299deg);
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
  }
  @keyframes gwd-gen-1b6wgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0.569075px) rotateY(-1.48299deg);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0.569075px) rotateY(-1.48299deg);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0.569075px) rotateY(-1.48299deg);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0.569075px) rotateY(-1.48299deg);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, 0.569075px) rotateY(-1.48299deg);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(29px, -63px, 1px) rotateY(-1.48299deg);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1b6wgwdanimation {
    animation: gwd-gen-1b6wgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  .gwd-span-8scg {
    position: absolute;
    width: 35px;
    height: 54px;
    left: 263px;
    top: 227px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  @keyframes gwd-gen-nej6gwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(14px, -26px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-nej6gwdanimation {
    animation: gwd-gen-nej6gwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  .gwd-span-43a9 {
    position: absolute;
    width: 182.079px;
    height: 61.6636px;
    left: 302px;
    top: 109px;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, -89.7267px) rotateY(-80.2575deg);
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
  }
  .gwd-span-1m5f {
    position: absolute;
    width: 29px;
    height: 40px;
    left: 248px;
    top: 319px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  @keyframes gwd-gen-se6bgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-9px, -192px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-se6bgwdanimation {
    animation: gwd-gen-se6bgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  .gwd-span-1bka {
    position: absolute;
    width: 66px;
    height: 52px;
    left: 279px;
    top: 319px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  .gwd-span-h7z1 {
    position: absolute;
    width: 62.037px;
    height: 36.1111px;
    left: 568px;
    top: 112px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  @keyframes gwd-gen-vqf2gwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-99px, 10px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-vqf2gwdanimation {
    animation: gwd-gen-vqf2gwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-mw1dgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(94px, -196px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-mw1dgwdanimation {
    animation: gwd-gen-mw1dgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  .gwd-span-1o4h {
    position: absolute;
    width: 49.2424px;
    height: 25.7576px;
    left: 285px;
    top: 55px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  .gwd-span-6quj {
    position: absolute;
    width: 37.1212px;
    height: 38.6364px;
    left: 315px;
    top: 304px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  .gwd-span-1wzk {
    position: absolute;
    width: 34.0909px;
    height: 35.6061px;
    left: 712px;
    top: 105px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  .gwd-span-17x1 {
    position: absolute;
    width: 46.2121px;
    height: 35.6061px;
    left: 76px;
    top: 291px;
    font-family: "Kaushan Script";
    font-size: 50px;
    font-style: italic;
    color: rgb(247, 206, 6);
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
  }
  @keyframes gwd-gen-1s0xgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(92px, -178px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1s0xgwdanimation {
    animation: gwd-gen-1s0xgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-h5gxgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(155px, 67px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-h5gxgwdanimation {
    animation: gwd-gen-h5gxgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-10axgwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(187px, -165px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-10axgwdanimation {
    animation: gwd-gen-10axgwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }
  @keyframes gwd-gen-1n4ngwdanimation_gwd-keyframes {
    0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    20% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    40% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    60% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    80% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translate3d(-420px, 21px, 0px);
      animation-timing-function: linear;
    }
  }
  .htmlNoPages .gwd-gen-1n4ngwdanimation {
    animation: gwd-gen-1n4ngwdanimation_gwd-keyframes 2.5s linear 0s 1 normal forwards running;
  }